.entry-form {
  background-color: rgb(176, 176, 176);
  font-size: 20px;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  padding-left: 30px;
  margin-top: 50px;
}
