.LoginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -100px;
  background-color: rgb(154, 154, 154);
  text-align: center;
  border-radius: 10px;
  border-style: solid;
}

.logintext {
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.login {
  border-radius: 10px;
  margin: 10px;
}

.login:hover {
  background-color: rgba(0, 0, 0, 0.226);
}

@media (max-width: 768px) {
  .LoginBox {
    font-size: 1.5rem; /* Larger title font size */
    margin-top: -300px;
    margin-left: -125px;
  }
  .login {
    font-size: 15px;
    height: 40px;
    width: 60px;
    border-radius: 20px;
  }
  .logintext {
    font-size: 1.1rem;
    padding: 5px;
  }
}
