.enter-table {
  z-index: 2;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.enter-table:fullscreen {
  background-color: rgb(238, 237, 237); /* Change to your preferred color */
}

.full-screen {
  position: fixed; /* Fixes the position */
  top: 0; /* Aligns to the top */
  left: 0; /* Aligns to the left */
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  background-color: rgb(224, 224, 224); /* Background color */
  z-index: 999; /* Ensure it’s on top */
  overflow: auto; /* Enable scrolling if needed */
}

.confirm-button {
  background-color: rgba(241, 246, 243, 0.242);
  border-radius: 10px;
  border: rgba(0, 0, 0, 0.315) 2px;
  border-style: solid;
}

.confirm-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.514);
  transition: background-color 0.5s;
  border-style: solid;
}
.table-search {
  border-radius: 30px;
  padding: 5px;
  margin: 10px;
}
.scheduled {
  background-color: rgb(0, 137, 5);
  padding: 4px;
  color: white;
}
.in-site {
  background-color: rgb(153, 133, 0);
  padding: 4px;
  color: white;
}
.left {
  background-color: rgb(255, 47, 47);
  padding: 4px;
  color: white;
}
